# APP (что касается веб приложения)
HOST="0.0.0.0"  # слушаем все порты
PORT=8080  # сверить с портом в Dockerfile и конфиг

# BOT (что касается самого бота)
#TOKEN="" # dev
#WEBHOOK_URL="" #dev
TOKEN="" # prod
WEBHOOK_URL="" #prod

# API (что касается запросов на сервак)
#API_BASE_URL="http://localhost:${PORT}" # dev / для запросов самому себе, если понадобится
API_BASE_URL="" # prod
HOOK_KEY=""

# MESSAGE (что касается инфы, содержащейся в сообщениях)
TG_CHANNEL_1=""
TG_CHANNEL_2=""
SUPPORT_TG=""
PROJECT_NAME=""
SITE_URL=""
SETTINGS_URL=""
REFILL_HISTORY_URL=""
ORDERS_URL=""