.env
*.conf
verif_bot.egg-info
supervisor/log
logs
tmp
venv
.idea
__pychache__/
api/__pychache__/
api/request/__pychache__/
bot/__pychache__/
bot/client/__pychache__/
bot/command/__pychache__/
bot/dispatcher/__pychache__/
bot/filters/__pychache__/
bot/handler/__pychache__/
bot/handler/dto/__pychache__/
bot/handler/dto/common/__pychache__/
bot/handler/factories/__pychache__/
bot/handler/processes/__pychache__/
bot/handler/processes/common/__pychache__/
bot/handler/processes/order/__pychache__/
bot/handler/services/__pychache__/
bot/handler/services/common/__pychache__/
bot/handler/services/order/__pychache__/
bot/handler/services/order/common/__pychache__/
bot/handler/utils/__pychache__/
bot/helper/__pychache__/
bot/keyboards/__pychache__/
bot/router/__pychache__/
bot/states/__pychache__/
config/__pychache__/
config/routes/__pychache__/
message/__pychache__/
message/errors/__pychache__/
utils/__pychache__/
utils/date/__pychache__/
utils/enums/__pychache__/
utils/factory/__pychache__/
utils/markdown/__pychache__/
utils/response/__pychache__/
utils/sign/__pychache__/
web/__pychache__/