.env
*.conf
verif_bot.egg-info
supervisor/log
logs
tmp
venv
.idea
__pycache__
api/__pycache__
api/request/__pycache__
bot/__pycache__
bot/client/__pycache__
bot/command/__pycache__
bot/dispatcher/__pycache__
bot/filters/__pycache__
bot/handler/__pycache__
bot/handler/dto/__pycache__
bot/handler/dto/common/__pycache__
bot/handler/factories/__pycache__
bot/handler/processes/__pycache__
bot/handler/processes/common/__pycache__
bot/handler/processes/order/__pycache__
bot/handler/services/__pycache__
bot/handler/services/common/__pycache__
bot/handler/services/order/__pycache__
bot/handler/services/order/common/__pycache__
bot/handler/utils/__pycache__
bot/helper/__pycache__
bot/keyboards/__pycache__
bot/router/__pycache__
bot/states/__pycache__
config/__pycache__
config/routes/__pycache__
message/__pycache__
message/errors/__pycache__
utils/__pycache__
utils/date/__pycache__
utils/enums/__pycache__
utils/factory/__pycache__
utils/markdown/__pycache__
utils/response/__pycache__
utils/sign/__pycache__
web/__pycache__